* * {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
}

button:focus,
button:active {
    outline: none;
}

body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    padding: 20px;
    display: flex;
    background-color: rgba(135, 206, 235, 0.25);
    flex-wrap: wrap;
}

h1 {
    width: 40%;
}

#location {
    width: 60%;
    display: flex;
    align-items: center;
}

#my-location {
    text-decoration: none;
    display: flex;
    color: seagreen;
}

#my-location::after {
    content: '📍';
}
#app {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

#tasks-list {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 24px;
    border-bottom: 1px solid rgba(135, 206, 235, 0.5);
}

#add-task {
    background: none;
    border: none;
    font-size: 64px;
    cursor: pointer;
    line-height: 1;
    transition: all 0.05s;
    margin-left: auto;
    margin-top: 20px;
}

#add-task:hover {
    transform: scale(1.1) rotate(45deg);
    transition: all 0.2s;
}

.remove-task {
    margin-left: auto;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    line-height: 1;
    transition: all 0.05s;
    margin-left: auto;
    margin-top: 20px;
    opacity: 0.65;
}

.remove-task:hover {
    opacity: 1;
    transition: all 0.15s;
}
